---
layout: default
---

<h1>{{ data.title }}</h1>

<article class="">
  {{ content }}
</article>

<p><a href="{{ data.pdf }}" target="_blank">Read in separate tab →</a></p>

<object data="{{ data.pdf }}" type="application/pdf" width="100%" style="height: 50rem;">
  alt: <a href="{{ data.pdf }}">{{ data.title }}</a>
</object>