---
title: Wedding
---

<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wedding</title>
    <style type="text/css">
      @font-face {
        font-family: "ballet";
        src:
          url("/fonts/ballet.woff2") format("woff2"),
          url("/fonts/ballet.woff") format("woff");
        font-weight: normal;
        font-style: normal;
      }
      body {
        font-family: "ballet";
        margin: 0;
      }
      h1 {
        font-size: 10vw !important;
        margin: 0;
      }
      h2 {
        font-size: 7vw !important;
        margin: 0;
      }
      p {
        margin: 0;
      }
      .font-serif {
        font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
      }
    </style>
  </head>
  <body class="{{ data.layout }} {{ data.page_class }}" style="background-color: black">
    <section style="position: relative">
      <h1>
        <p style="position: absolute; top: 0em; left: 2vw">We're getting</p>
        <p style="position: absolute; top: 1.25em; left: 10vw">married</p>
      </h1>

      <img src="{{ '/images/wedding/0R8A6020.jpg' | relative_url }}" alt="" style="width: 100%" />
    </section>

    <section style="position: relative; margin-top: -1rem">
      <h2 style="">
        <p style="position: absolute; top: 0em; left: 30vw">and</p>
        <p style="position: absolute; top: 1em; left: 33vw">we'd</p>
        <p style="position: absolute; top: 2em; left: 35vw">like</p>
        <p style="position: absolute; top: 3em; left: 38vw">you</p>
        <p style="position: absolute; top: 4em; left: 40vw">to</p>
        <p style="position: absolute; top: 5em; left: 42vw">join</p>
        <p style="position: absolute; top: 6em; left: 44vw">us</p>
      </h2>

      <img src="{{ '/images/wedding/0R8A7378.jpg' | relative_url }}" alt="" style="width: 100%" />
    </section>

    <section style="position: relative; margin-top: -1rem">
      <h2 style="position: absolute; top: 0em; left: 2vw">Where</h2>
      <div class="font-serif" style="font-size: 5vw; position: absolute; top: 0.125em; left: 23vw">
        <p>
          <a href="https://www.iberostar.com/en/hotels/montego-bay/iberostar-rose-hall-suites/">
            Iberostar Rose Hall Suites
          </a>
        </p>
        <p>Montego Bay, Jamaica</p>
      </div>
      <h2 style="position: absolute; top: 2em; left: 2vw">When</h2>
      <p class="font-serif" style="font-size: 5vw; position: absolute; top: 3.25em; left: 23vw">
        At 5 pm on March 2<sup>nd</sup>, 2024
      </p>

      <img src="{{ '/images/wedding/0R8A7338.jpg' | relative_url }}" alt="" style="width: 100%" />
    </section>
  </body>
</html>
