<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% capture resource_title %}{{ title | strip_html | plain_text | strip_newlines }}{% endcapture %}
<title>{% if resource_title != "Index" %}{{ resource_title }} | {{ metadata.title | escape }}{% else %}{{ metadata.title | escape }}: {{ metadata.tagline | escape }}{% endif %}</title>

<meta name="description" content="{{ metadata.description }}" />
<link rel="icon" type="image/png" href="{{ "/images/favicon.png" | relative_url }}">

{% feed_meta %}

<link rel="stylesheet" href="{% asset_path css %}" />
<script src="{% asset_path js %}" defer></script>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
{% live_reload_dev_js %}
{% if bridgetown.environment == "production" %}
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "a5416aa94b6245e9af4b863d5d692f7a"}'></script><!-- End Cloudflare Web Analytics -->
{% endif %}
