<header role="banner" class="flex-shrink flex items-center justify-between !mt-10 !mb-20">
  <a href="{{ '/' | relative_url }}">
    {% svg "/images/logo.svg" %}
  </a>
  <nav role="navigation" class="flex gap-4">
    <a href="{{ '/' | relative_url }}" class="no-underline hover:underline">Home</a>
    <a href="{{ '/about' | relative_url }}" class="no-underline hover:underline">About</a>
    <a href="{{ '/posts' | relative_url }}" class="no-underline hover:underline">Posts</a>
    <a href="{{ '/essays' | relative_url }}" class="no-underline hover:underline">Essays</a>
  </nav>
</header>

