<header role="banner" class="flex-shrink flex items-center justify-between !mt-10 !mb-20">
  <a href="{{ '/' | relative_url }}" class="group">
    {% svg "/images/logo.svg" %}
  </a>
  <nav role="navigation" class="flex flex-col gap-x-4 sm:flex-row">
    <a href="{{ '/' | relative_url }}" class="no-underline hover:underline">Home</a>
    <a href="{{ '/posts' | relative_url }}" class="no-underline hover:underline">Posts</a>
    <a href="{{ '/speaking' | relative_url }}" class="no-underline hover:underline">Speaking</a>
    <a href="{{ '/archive' | relative_url }}" class="no-underline hover:underline">Archive</a>
  </nav>
</header>
